@font-face {
    /*FONTE GERAL*/
    font-family: 'Beaufort';
    src: url(./assets/Fonts_Package/BeaufortForLoL-OTF/BeaufortforLOL-Medium.otf);
}

@font-face {
    font-family: 'BeaufortTitulos';
    src: url(./assets/Fonts_Package/Spiegel-OTF/Spiegel-Regular.otf);
}

body {
    cursor: url('assets/normal.cur'), auto;
    font-family: 'Beaufort';
    word-wrap: break-word;
    overflow-x: hidden; /*ESCONDER DEPOIS*/
    margin: 0;
    padding: 0;
}

a {
    cursor: url('assets/link.cur'), auto;
    color: white;
    text-decoration: none;
    font-size: 18px;
}


header .navbar {
    width: 100%;
    height: 8vh;
    background-color: rgba(0, 0, 0, 0.445);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    z-index: 10;
    transition: .5s;
}

/* atenção - tags criadas no java script */
header .rolagem {
    background-color: black;
}

header .rolagem a {
    color: #A09B8C;
}

/* atenção - tags criadas no java script */

header .navbar .esquerda,
header .navbar .direita {
    display: flex;
    align-items: center;
}

header .navbar .logo img {
    width: 50px;
    height: 50px;
}

header .navbar .links {
    display: flex;
}

header .nav-itens {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

header .navbar .nav-itens li {
    margin: 0 15px;
}

header .navbar .nav-itens li a:hover {
    color: #c89c3c;
    text-shadow: 0 0 3px #c89c3ca9;
    transition: .7s;
}

.esquerda .links {
    margin-left: 50px;
}

.esquerda .links li:first-child {
    margin-left: 0;
}

.direita {
    margin-right: 60px;
}


section {
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.logoGold {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logoGold img {
    height: auto;
    width: 45%;
    z-index: 9;
}

.imgs {
    height: 93vh;
    z-index: 7;
}

.tituloRuneterra {
    height: 100vh;
    font-size: 145px;
    font-family: 'Beaufort';
    color: rgba(255, 255, 255, 0.863);
    display: flex;
    align-items: center;
    justify-content: center;
}

.img1 {
    height: 100vh;
    background-image: url(./assets/mapa\ sem\ as\ regioes.png);
    background-attachment: unset;
}

.img2 {
    background-image: url(./assets/mapa.png);
    background-attachment: unset;
    background-color: #09161D;
}

.img3 {
    background-image: url(./assets/tiersFinal.png);
    background-attachment: unset;
    background-size: cover;
    background-color: #09161D;
}

.img4 {
    background-image: url(./assets/campeonatos.png);
    background-attachment: unset;
}

.imgs video {
    object-fit: cover;
    position: absolute;
    width: 100vw;
    height: 93vh;
}

.img6 {
    background-image: url(./assets/inclusaoLGBT2.jpg);
    /* background-attachment: fixed; */
}

.img7 {
    background-image: url(./assets/sustentavel.jpg);
    /* background-attachment: fixed; */
}

.textos {
    font-family: 'Beaufort';
    font-size: 25px;
    display: flex;
    flex-direction: column;
    background-color: #DBD8D6;
    width: 100%;
    height: fit-content;
    align-items: center;
    text-align: justify;
}


.textos p {
    margin-top: 22px;
    margin-left: 270px;
    /*150px inicialmente*/
    margin-right: 270px;
    /*150px inicialmente*/
    margin-bottom: 0;
}

.textos p:first-child {
    margin-top: 55px;
}

/*depois trocar o texto2 para todos os textos*/
.texto2 p:first-child { 
    margin-top: 0px;
}

.textos p:last-child {
    margin-bottom: 55px;
}

.tips {
    background-color: #284352ac;
    color: white;
    width: 17%;
    height: 42%;
    /*fitcontent talvez */
    position: absolute;
    margin-top: 3%;
    margin-left: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
    padding: 15px;
}

.tips h1 {
    font-family: 'BeaufortTitulos';
    color: #E0C97B;
    padding: 0;
    margin: 0;
}



.imgs .lgbt {
    height: 93vh;
    width: 100%;
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    padding: 0;
    margin: 0;
}

.tituloDiferente {
    height: 45vh;
    background-color: #DBD8D6;
    /* background-image: url(./assets/inclusaoLGBT.jpg); */
    font-size: 145px;
    font-family: 'Beaufort';
    color: rgba(0, 0, 0, 0.795);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tituloDiferente p:hover {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.664), rgba(255, 165, 0, 0.664), rgba(255, 255, 0, 0.774), rgba(0, 128, 0, 0.719), rgba(0, 0, 255, 0.664), rgba(75, 0, 130, 0.664), rgba(238, 130, 238, 0.76));
    background-clip: text;
    color: transparent;
}

.textos a {
    color: rgba(0, 0, 0, 0.664);
    cursor: inherit;
    text-decoration: underline;
    font-size: 25px;
    transition: color 0.3s;
    cursor: url(assets/link.cur), auto;
}

.textos a:hover {
    transform: scale(1.1);
}

.textos6 p:last-child {
    width: 71vw;
    margin-bottom: 10px;
    margin-top: 5px;
    display: flex;
    cursor: inherit;
    align-items: flex-start;
    padding: 0;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
}

footer .footerPai {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

footer .rodape2{
    width: 50.5%;
    height: 60vh;
    background-image: url(./assets/poromaior.png);
    background-color: #DBD8D6;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    /* background-color: #67cce0; */
}

footer .rodape1{
    width: 51%;
    height: 60vh;
    /* background-image: url(./assets/porofeliz.png); */
    background-color: #DBD8D6;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    /* background-color: #67cce0; */
    transform: scaleX(-1);
}

.img2 .seta {
    display: flex;
    width: 70px;
    height: 100px;
    /* background-color: white; */
    background-image: url(./assets/setaTips.png);
    background-repeat: no-repeat;
    z-index: 9;
    padding: 0;
    margin-top: 20%;
    margin-left: 95%;
    position: absolute;
}

/* CRIANDO A MASCARA EM CIMA DO MAPA PARA CLICK */

.maskMapa {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #c9972b34;
    position: absolute;
}

/* SETANDO EIXO X E Y DE CADA BOLINHA DE CLICK */

.freljord {
    margin-top: 10.1vh;
    margin-left: 29.6vw;
}

.noxus {
    margin-top: 20vh;
    margin-left: 44vw;
}

.demacia {
    margin-top: 29vh;
    margin-left: 26.6vw;
}

.ionia {
    margin-top: 14.8vh;
    margin-left: 66vw;
}

.piltover {
    margin-top: 40vh;
    margin-left: 51.95vw;
}

.zaun {
    margin-top: 48.4vh;
    margin-left: 51.95vw;
}

.aguasdesentina {
    margin-top: 50.5vh;
    margin-left: 67.1vw;
}

.shurima {
    margin-top: 65.3vh;
    margin-left: 46.7vw;
}

.ilhadassombras {
    margin-top: 68.4vh;
    margin-left: 72.4vw;
}

.targon {
    margin-top: 67.5vh;
    margin-left: 34.3vw;
}

.ixtal {
    margin-top: 63.5vh;
    margin-left: 55.8vw;
}
/* FIM DA MÁSCARA DE CLICKS */

.tituloRegioes {
    height: 33vh;
    background-color: #DBD8D6;
    /* background-image: url(./assets/Regioes/freljord.jpg); */
    font-size: 145px;
    font-family: 'Beaufort';
    color: rgba(0, 0, 0, 0.795);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 500ms;
}

.champs {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.champs .cards {
    width: 100%;
    height: 45vh;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.perso {
    width: 7.5%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 68%;
    border: 4px solid #ffffff63; 
    transition: width 1s ease;
    border-radius: 15px;
    position: relative;
}


.perso:hover {
    width: 25%; /* 350px anteriormente */
    /* scale: 1.2;  PENSAR DEPOIS*/
}

.perso h1{
    opacity: 0;
    color: #c89c3c;
    text-shadow: 0px 4px 8px rgb(12, 11, 11);
    transition: opacity 1s ease;
    position: absolute;
    top: 75%;
    left: 10%;
    font-size: 30px;
}

.perso:hover h1{
    opacity: 1;
}


/* AREA VOLTADA PARA FRELJORD */

.frelj p:hover {
    background: linear-gradient(to right, rgba(22, 70, 92, 0.664), rgba(43, 98, 160, 0.664), rgba(49, 131, 163, 0.774), rgba(140, 197, 214, 0.719), rgba(149, 164, 172, 0.664), rgba(22, 70, 92, 0.664), rgba(49, 131, 163, 0.774));
    background-clip: text;
    transition: 500ms;
    color: transparent;
}

.champsFreljord{
    background-image: url(./assets/Regioes/freljord.jpg);
}

.champsFreljord .div1{
    background-image: url(./assets/PERSONAGENS/Freljord/Ashe_0.jpg);
    background-position-x: 68%;
}

.champsFreljord .div2 {
    background-image: url(./assets/PERSONAGENS/Freljord/Braum_0.jpg);
    background-position-x: 80%;
}

.champsFreljord .div3 {
    background-image: url(./assets/PERSONAGENS/Freljord/Udyr_0.jpg);
    background-position-x: 55%;
}

.champsFreljord .div4 {
    background-image: url(./assets/PERSONAGENS/Freljord/Nunu_0.jpg);
    background-position-x: 68%;
}

.champsFreljord .div5 {
    background-image: url(./assets/PERSONAGENS/Freljord/Sejuani_0.jpg);
    background-position-x: 58%;
}

.champsFreljord .div6 {
    background-image: url(./assets/PERSONAGENS/Freljord/Gnar_0.jpg);
    background-position-x: 80%;
}

.champsFreljord .div7 {
    background-image: url(./assets/PERSONAGENS/Freljord/Anivia_0.jpg);
    background-position-x: 54%;
}

.champsFreljord .div8 {
    background-image: url(./assets/PERSONAGENS/Freljord/Olaf_0.jpg);
    background-position-x: 65%;
}

.champsFreljord .div9 {
    background-image: url(./assets/PERSONAGENS/Freljord/Lissandra_0.jpg);
    background-position-x: 76%;
}

.champsFreljord .div10 {
    background-image: url(./assets/PERSONAGENS/Freljord/Volibear_0.jpg);
    background-position-x: 58%;
}

.champsFreljord .div11 {
    background-image: url(./assets/PERSONAGENS/Freljord/Ornn_0.jpg);
    background-position-x: 50%;
}
/* FIM DE FRELJORD */


/* DEMACIA */
.dema p:hover {
    background: linear-gradient(to right, #9189779f, #beb9aea1, #c3b89e98, #9189779f);
    background-clip: text;
    color: transparent;
    transition: 500ms;
}

.champsDemacia{
    background-image: url(./assets/Regioes/demacia.jpg);
}

.champsDemacia .div1{
    background-image: url(./assets/PERSONAGENS/Demacia/Fiora_0.jpg);
    background-position-x: 73%;
}

.champsDemacia .div2 {
    background-image: url(./assets/PERSONAGENS/Demacia/Garen_0.jpg);
    background-position-x: 84%;
}

.champsDemacia .div3 {
    background-image: url(./assets/PERSONAGENS/Demacia/Galio_0.jpg);
    background-position-x: 50%;
}

.champsDemacia .div4 {
    background-image: url(./assets/PERSONAGENS/Demacia/Poppy_0.jpg);
    background-position-x: 70%;
}

.champsDemacia .div5 {
    background-image: url(./assets/PERSONAGENS/Demacia/XinZhao_0.jpg);
    background-position-x: 52%;
}

.champsDemacia .div6 {
    background-image: url(./assets/PERSONAGENS/Demacia/Lux_0.jpg);
    background-position-x: 64%;
}

.champsDemacia .div7 {
    background-image: url(./assets/PERSONAGENS/Demacia/Kayle_0.jpg);
    background-position-x: 15%;
}

.champsDemacia .div8 {
    background-image: url(./assets/PERSONAGENS/Demacia/Kayle_0.jpg);
    background-position-x: 85%;
}

.champsDemacia .div9 {
    background-image: url(./assets/PERSONAGENS/Demacia/Vayne_0.jpg);
    background-position-x: 88%;
}

.champsDemacia .div10 {
    background-image: url(./assets/PERSONAGENS/Demacia/Sona_0.jpg);
    background-position-x: 73%;
}

.champsDemacia .div11 {
    background-image: url(./assets/PERSONAGENS/Demacia/Sylas_0.jpg);
    background-position-x: 53%;
}
/* FIM DE DEMACIA */


/* NOXUS */
.nox p:hover {
    background: linear-gradient(to right,#755e3e, #8f8a6e, #777263, #755e3e);
    background-clip: text;
    color: transparent;
    transition: 500ms;
}

.champsNoxus{
    background-image: url(./assets/Regioes/noxus.jpg);
}

.champsNoxus .div1{
    background-image: url(./assets/PERSONAGENS/Noxus/Mordekaiser_0.jpg);
    background-position-x: 43%;
}

.champsNoxus .div2 {
    background-image: url(./assets/PERSONAGENS/Noxus/Sion_0.jpg);
    background-position-x: 70%;
}

.champsNoxus .div3 {
    background-image: url(./assets/PERSONAGENS/Noxus/Leblanc_0.jpg);
    background-position-x: 73%;
}

.champsNoxus .div4 {
    background-image: url(./assets/PERSONAGENS/Noxus/Rell_0.jpg);
    background-position-x: 46%;
}

.champsNoxus .div5 {
    background-image: url(./assets/PERSONAGENS/Noxus/Katarina_0.jpg);
    background-position-x: 66%;
}

.champsNoxus .div6 {
    background-image: url(./assets/PERSONAGENS/Noxus/Swain_0.jpg);
    background-position-x: 71%;
}

.champsNoxus .div7 {
    background-image: url(./assets/PERSONAGENS/Noxus/Darius_0.jpg);
    background-position-x: 58%;
}

.champsNoxus .div8 {
    background-image: url(./assets/PERSONAGENS/Noxus/Samira_0.jpg);
    background-position-x: 60%;
}

.champsNoxus .div9 {
    background-image: url(./assets/PERSONAGENS/Noxus/Riven_0.jpg);
    background-position-x: 83%;
}

.champsNoxus .div10 {
    background-image: url(./assets/PERSONAGENS/Noxus/Talon_0.jpg);
    background-position-x: 70%;
}

.champsNoxus .div11 {
    background-image: url(./assets/PERSONAGENS/Noxus/Draven_0.jpg);
    background-position-x: 78%;
}
/* FIM DE NOXUS */



/* IONIA */
.ion p:hover {
    background: linear-gradient(to right,#8D6C73, #c99a9a, #b68f8f, #8D6C73);
    background-clip: text;
    color: transparent;
    transition: 500ms;
}

.champsIonia{
    background-image: url(./assets/Regioes/ionia.jpg);
}

.champsIonia .div1{
    background-image: url(./assets/PERSONAGENS/Ionia/Irelia_0.jpg);
    background-position-x: 51%;
}

.champsIonia .div2 {
    background-image: url(./assets/PERSONAGENS/Ionia/Akali_0.jpg);
    background-position-x: 50%;
}

.champsIonia .div3 {
    background-image: url(./assets/PERSONAGENS/Ionia/Lillia_0.jpg);
    background-position-x: 43%;
}

.champsIonia .div4 {
    background-image: url(./assets/PERSONAGENS/Ionia/Jhin_0.jpg);
    background-position-x: 61%;
}

.champsIonia .div5 {
    background-image: url(./assets/PERSONAGENS/Ionia/Ahri_0.jpg);
    background-position-x: 64%;
}

.champsIonia .div6 {
    background-image: url(./assets/PERSONAGENS/Ionia/Yone_0.jpg);
    background-position-x: 60%;
}

.champsIonia .div7 {
    background-image: url(./assets/PERSONAGENS/Ionia/Rakan_0.jpg);
    background-position-x: 33%;
}

.champsIonia .div8 {
    background-image: url(./assets/PERSONAGENS/Ionia/Rakan_0.jpg);
    background-position-x: 60%;
}

.champsIonia .div9 {
    background-image: url(./assets/PERSONAGENS/Ionia/LeeSin_0.jpg);
    background-position-x: 70%;
}

.champsIonia .div10 {
    background-image: url(./assets/PERSONAGENS/Ionia/Yasuo_0.jpg);
    background-position-x: 83%;
}

.champsIonia .div11 {
    background-image: url(./assets/PERSONAGENS/Ionia/Karma_0.jpg);
    background-position-x: 78%;
}
/* FIM DE IONIA */

/* PILTOVER */
.pilto p:hover {
    background: linear-gradient(to right,#a58315,#bbac98, #a59668, #bbac98, #a58315);
    background-clip: text;
    color: transparent;
    transition: 500ms;
}

.champsPiltover{
    background-image: url(./assets/Regioes/piltover.jpg);
}

.champsPiltover .div1{
    background-image: url();
    background-position-x: 51%;
}

.champsPiltover .div2 {
    background-image: url(./assets/PERSONAGENS/Piltover/Jayce_0.jpg);
    background-position-x: 82%;
}

.champsPiltover .div3 {
    background-image: url(./assets/PERSONAGENS/Piltover/Seraphine_0.jpg);
    background-position-x: 46%;
}

.champsPiltover .div4 {
    background-image: url(./assets/PERSONAGENS/Piltover/Camille_0.jpg);
    background-position-x: 90%;
}

.champsPiltover .div5 {
    background-image: url(./assets/PERSONAGENS/Piltover/Vi_0.jpg);
    background-position-x: 73%;
}

.champsPiltover .div6 {
    background-image: url(./assets/PERSONAGENS/Piltover/Orianna_0.jpg);
    background-position-x: 78%;
}

.champsPiltover .div7 {
    background-image: url(./assets/PERSONAGENS/Piltover/Viktor_0.jpg);
    background-position-x: 68%;
}

.champsPiltover .div8 {
    background-image: url(./assets/PERSONAGENS/Piltover/Heimerdinger_0.jpg);
    background-position-x: 74%;
}

.champsPiltover .div9 {
    background-image: url(./assets/PERSONAGENS/Piltover/Ezreal_0.jpg);
    background-position-x: 67%;
}

.champsPiltover .div10 {
    background-image: url(./assets/PERSONAGENS/Piltover/Caitlyn_0.jpg);
    background-position-x: 83%;
}

.champsPiltover .div11 {
    background-image: url();
    background-position-x: 78%;
}
/* FIM DE PPILTOVER */


/* ZAUN */
.zau p:hover {
    background: linear-gradient(to right,#537010,#6c8555, #7b946d, #6c8555, #537010);
    background-clip: text;
    color: transparent;
    transition: 500ms;
}

.champsZaun{
    background-image: url(./assets/Regioes/zaun.jpg);
}

.champsZaun .div1{
    background-image: url(./assets/PERSONAGENS/Zaun/Zeri_0.jpg);
    background-position-x: 56%;
}

.champsZaun .div2 {
    background-image: url(./assets/PERSONAGENS/Zaun/Zac_0.jpg);
    background-position-x: 73%;
}

.champsZaun .div3 {
    background-image: url(./assets/PERSONAGENS/Zaun/Renata_0.jpg);
    background-position-x: 57%;
}

.champsZaun .div4 {
    background-image: url(./assets/PERSONAGENS/Zaun/Blitzcrank_0.jpg);
    background-position-x: 71%;
}

.champsZaun .div5 {
    background-image: url(./assets/PERSONAGENS/Zaun/Urgot_0.jpg);
    background-position-x: 58%;
}

.champsZaun .div6 {
    background-image: url(./assets/PERSONAGENS/Zaun/Ekko_0.jpg);
    background-position-x: 79%;
}

.champsZaun .div7 {
    background-image: url(./assets/PERSONAGENS/Zaun/Jinx_0.jpg);
    background-position-x: 70%;
}

.champsZaun .div8 {
    background-image: url(./assets/PERSONAGENS/Zaun/Ziggs_0.jpg);
    background-position-x: 77%;
}

.champsZaun .div9 {
    background-image: url(./assets/PERSONAGENS/Zaun/Warwick_0.jpg);
    background-position-x: 71%;
}

.champsZaun .div10 {
    background-image: url(./assets/PERSONAGENS/Zaun/DrMundo_0.jpg);
    background-position-x: 53%;
}

.champsZaun .div11 {
    background-image: url(./assets/PERSONAGENS/Zaun/Janna_0.jpg);
    background-position-x: 88%;
}
/* FIM DE ZAUN */


/* AGUAS */
.aguas p:hover {
    background: linear-gradient(to right,#0f3772,#1b5a85, #5d7381, #1b5a85, #0f3772);
    background-clip: text;
    color: transparent;
    transition: 500ms;
}

.champsAgua{
    background-image: url(./assets/Regioes/aguasSentina.jpg);
}

.champsAgua .div1{
    background-image: url();
    background-position-x: 56%;
}

.champsAgua .div2 {
    background-image: url();
    background-position-x: 73%;
}

.champsAgua .div3 {
    background-image: url(./assets/PERSONAGENS/AguasSentina/Gangplank_0.jpg);
    background-position-x: 77%;
}

.champsAgua .div4 {
    background-image: url(./assets/PERSONAGENS/AguasSentina/Illaoi_0.jpg);
    background-position-x: 64%;
}

.champsAgua .div5 {
    background-image: url(./assets/PERSONAGENS/AguasSentina/MissFortune_0.jpg);
    background-position-x: 76%;
}

.champsAgua .div6 {
    background-image: url(./assets/PERSONAGENS/AguasSentina/Nautilus_0.jpg);
    background-position-x: 78%;
}

.champsAgua .div7 {
    background-image: url(./assets/PERSONAGENS/AguasSentina/Pyke_0.jpg);
    background-position-x: 49%;
}

.champsAgua .div8 {
    background-image: url(./assets/PERSONAGENS/AguasSentina/TahmKench_0.jpg);
    background-position-x: 62%;
}

.champsAgua .div9 {
    background-image: url(./assets/PERSONAGENS/AguasSentina/TwistedFate_0.jpg);
    background-position-x: 73%;
}

.champsAgua .div10 {
    background-image: url(./assets/PERSONAGENS/AguasSentina/Graves_00_Base-Cigar.jpg);
    background-position-x: 80%;
}

.champsAgua .div11 {
    background-image: url(./assets/PERSONAGENS/AguasSentina/Fizz_0.jpg);
    background-position-x: 90%;
}
/* FIM DE AGUAS */


/* IXTAL */
.ixt p:hover {
    background: linear-gradient(to right,#433e25,#867970, #6c5049, #867970, #433e25);
    background-clip: text;
    color: transparent;
    transition: 500ms;
}

.champsIxtal{
    background-image: url(./assets/Regioes/ixtal.jpg);
}

.champsIxtal .div1{
    background-image: url(./assets/PERSONAGENS/Ixtal/Malphite_0.jpg);
    background-position-x: 73%;
}

.champsIxtal .div2 {
    background-image: url(./assets/PERSONAGENS/Ixtal/Milio_0.jpg);
    background-position-x: 50%;
}

.champsIxtal .div3 {
    background-image: url(./assets/PERSONAGENS/Ixtal/Neeko_0.jpg);
    background-position-x: 50%;
}

.champsIxtal .div4 {
    background-image: url(./assets/PERSONAGENS/Ixtal/Nidalee_0.jpg);
    background-position-x: 83%;
}

.champsIxtal .div5 {
    background-image: url(./assets/PERSONAGENS/Ixtal/Qiyana_0.jpg);
    background-position-x: 53%;
}

.champsIxtal .div6 {
    background-image: url(./assets/PERSONAGENS/Ixtal/Rengar_0.jpg);
    background-position-x: 72%;
}

.champsIxtal .div7 {
    background-image: url(./assets/PERSONAGENS/Ixtal/Skarner_0.jpg);
    background-position-x: 51%;
}

.champsIxtal .div8 {
    background-image: url(./assets/PERSONAGENS/Ixtal/Zyra_0.jpg);
    background-position-x: 83%;
}

.champsIxtal .div9 {
    background-image: url();
    background-position-x: 73%;
}

.champsIxtal .div10 {
    background-image: url();
    background-position-x: 80%;
}

.champsIxtal .div11 {
    background-image: url();
    background-position-x: 90%;
}
/* FIM DE IXTAL */


/* SHURIMA */
.shuri p:hover {
    background: linear-gradient(to right,#796606,#b49e30, #948b5c, #b49e30, #796606);
    background-clip: text;
    color: transparent;
    transition: 500ms;
}

.champsShurima{
    background-image: url(./assets/Regioes/shurima.jpg);
}

.champsShurima .div1{
    background-image: url(./assets/PERSONAGENS/Shurima/Amumu_0.jpg);
    background-position-x: 75%;
}

.champsShurima .div2 {
    background-image: url(./assets/PERSONAGENS/Shurima/KSante_0.jpg);
    background-position-x: 35%;
}

.champsShurima .div3 {
    background-image: url(./assets/PERSONAGENS/Shurima/Naafiri_0.jpg);
    background-position-x: 27%;
}

.champsShurima .div4 {
    background-image: url(./assets/PERSONAGENS/Shurima/072221_AkshanChampionTheme_Banner.jpg);
    background-position-x: 73%;
}

.champsShurima .div5 {
    background-image: url(./assets/PERSONAGENS/Shurima/Rammus_0.jpg);
    background-position-x: 67%;
}

.champsShurima .div6 {
    background-image: url(./assets/PERSONAGENS/Shurima/Azir_0.jpg);
    background-position-x: 78%;
}

.champsShurima .div7 {
    background-image: url(./assets/PERSONAGENS/Shurima/Sivir_0.jpg);
    background-position-x: 58%;
}

.champsShurima .div8 {
    background-image: url(./assets/PERSONAGENS/Shurima/Xerath_0.jpg);
    background-position-x: 57%;
}

.champsShurima .div9 {
    background-image: url(./assets/PERSONAGENS/Shurima/Nasus_0.jpg);
    background-position-x: 70%;
}

.champsShurima .div10 {
    background-image: url(./assets/PERSONAGENS/Shurima/Renekton_0.jpg);
    background-position-x: 60%;
}

.champsShurima .div11 {
    background-image: url(./assets/PERSONAGENS/Shurima/Taliyah_0.jpg);
    background-position-x: 82%;
}
/* FIM DE SHURIMA */

/* TARGON */
.targ p:hover {
    background: linear-gradient(to right,#2a0a82,#473c86, #c3ba73, #473c86, #2a0a82);
    background-clip: text;
    color: transparent;
    transition: 500ms;
}

.champsTargon{
    background-image: url(./assets/Regioes/targon.jpg);
}

.champsTargon .div1{
    background-image: url(./assets/PERSONAGENS/Targon/Aphelios_0.jpg);
    background-position-x: 55%;
}

.champsTargon .div2 {
    background-image: url(./assets/PERSONAGENS/Targon/Pantheon_0.jpg);
    background-position-x: 50%;
}

.champsTargon .div3 {
    background-image: url(./assets/PERSONAGENS/Targon/Taric_0.jpg);
    background-position-x: 84%;
}

.champsTargon .div4 {
    background-image: url(./assets/PERSONAGENS/Targon/AurelionSol_0.jpg);
    background-position-x: 58%;
}

.champsTargon .div5 {
    background-image: url(./assets/PERSONAGENS/Targon/Zoe_0.jpg);
    background-position-x: 53%;
    
}

.champsTargon .div6 {
    background-image: url(./assets/PERSONAGENS/Targon/Diana_0.jpg);
    background-position-x: 74%;
}

.champsTargon .div7 {
    background-image: url(./assets/PERSONAGENS/Targon/Leona_0.jpg);
    background-position-x: 83%;
}

.champsTargon .div8 {
    background-image: url(./assets/PERSONAGENS/Targon/Soraka_0.jpg);
    background-position-x: 58%;
}

.champsTargon .div9 {
    background-image: url();
    background-position-x: 70%;
}

.champsTargon .div10 {
    background-image: url();
    background-position-x: 60%;
}

.champsTargon .div11 {
    background-image: url();
    background-position-x: 82%;
}
/* FIM DE TARGON */


/* ILHA DAS SOMBRAS */
.sombras p:hover {
    background: linear-gradient(to right,#10191E,#214144, #4A8188, #214144, #10191E);
    background-clip: text;
    color: transparent;
    transition: 500ms;
}

.champsIlhadasSombras{
    background-image: url(./assets/Regioes/ilhaDasSombras.jpg);
}

.champsIlhadasSombras .div1{
    background-image: url(./assets/PERSONAGENS/IlhaSombras/Viego_0.jpg);
    background-position-x: 78%;
}

.champsIlhadasSombras .div2 {
    background-image: url(./assets/PERSONAGENS/IlhaSombras/Vex_0.jpg);
    background-position-x: 67%;
}

.champsIlhadasSombras .div3 {
    background-image: url(./assets/PERSONAGENS/IlhaSombras/Thresh_0.jpg);
    background-position-x: 64%;
}

.champsIlhadasSombras .div4 {
    background-image: url(./assets/PERSONAGENS/IlhaSombras/Maokai_0.jpg);
    background-position-x: 63%;
}

.champsIlhadasSombras .div5 {
    background-image: url(./assets/PERSONAGENS/IlhaSombras/Karthus_0.jpg);
    background-position-x: 73%;
}

.champsIlhadasSombras .div6 {
    background-image: url(./assets/PERSONAGENS/IlhaSombras/Kalista_0.jpg);
    background-position-x: 66%;
}

.champsIlhadasSombras .div7 {
    background-image: url(./assets/PERSONAGENS/IlhaSombras/Gwen_0.jpg);
    background-position-x: 50%;
}

.champsIlhadasSombras .div8 {
    background-image: url(./assets/PERSONAGENS/IlhaSombras/Hecarim_0.jpg);
    background-position-x: 70%;
}

.champsIlhadasSombras .div9 {
    background-image: url(./assets/PERSONAGENS/IlhaSombras/Elise_0.jpg);
    background-position-x: 75%;
}

.champsIlhadasSombras .div10 {
    background-image: url(./assets/PERSONAGENS/IlhaSombras/Yorick_0.jpg);
    background-position-x: 66%;
}

.champsIlhadasSombras .div11 {
    background-image: url();
    background-position-x: 91%;
}
/* FIM DE ILHA DAS SOMBRAS */


/* VAZIO */
.vaz p:hover {
    background: linear-gradient(to right,#520d55,#A06695, #b499b6, #A06695, #520d55);
    background-clip: text;
    color: transparent;
    transition: 500ms;
}

.champsVazio{
    background-image: url(./assets/Regioes/vazio.jpg);
}

.champsVazio .div1{
    background-image: url(./assets/PERSONAGENS/Vazio/Khazix_0.jpg);
    background-position-x: 76%;
}

.champsVazio .div2 {
    background-image: url(./assets/PERSONAGENS/Vazio/Chogath_0.jpg);
    background-position-x: 57%;
}

.champsVazio .div3 {
    background-image: url(./assets/PERSONAGENS/Vazio/KogMaw_0.jpg);
    background-position-x: 76%;
}

.champsVazio .div4 {
    background-image: url(./assets/PERSONAGENS/Vazio/Malzahar_0.jpg);
    background-position-x: 65%;
}

.champsVazio .div5 {
    background-image: url(./assets/PERSONAGENS/Vazio/RekSai_0.jpg);
    background-position-x: 55%;
}

.champsVazio .div6 {
    background-image: url(./assets/PERSONAGENS/Vazio/Kaisa_0.jpg);
    background-position-x: 48%;
}

.champsVazio .div7 {
    background-image: url(./assets/PERSONAGENS/Vazio/Kassadin_0.jpg);
    background-position-x: 67%;
}

.champsVazio .div8 {
    background-image: url(./assets/PERSONAGENS/Vazio/Belveth_0.jpg);
    background-position-x: 50%;
}

.champsVazio .div9 {
    background-image: url(./assets/PERSONAGENS/Vazio/Velkoz_0.jpg);
    background-position-x: 60%;
}

.champsVazio .div10 {
    background-image: url();
    background-position-x: 66%;
}

.champsVazio .div11 {
    background-image: url();
    background-position-x: 91%;
}
/* FIM DO VAZIO */


/* BANDÓPOLIS */
.band p:hover {
    background: linear-gradient(to right,#83A6BC,#BABFB5, #A9C6D6, #BABFB5, #83A6BC);
    background-clip: text;
    color: transparent;
    transition: 500ms;
}

.champsBandopolis{
    background-image: url(./assets/Regioes/bandopolis.jpg);
}

.champsBandopolis .div1{
    background-image: url(./assets/PERSONAGENS/Bandopolis/Corki_0.jpg);
    background-position-x: 72%;
}

.champsBandopolis .div2 {
    background-image: url(./assets/PERSONAGENS/Bandopolis/Lulu_0.jpg);
    background-position-x: 72%;
}

.champsBandopolis .div3 {
    background-image: url(./assets/PERSONAGENS/Bandopolis/Rumble_0.jpg);
    background-position-x: 73%;
}

.champsBandopolis .div4 {
    background-image: url(./assets/PERSONAGENS/Bandopolis/Tristana_0.jpg);
    background-position-x: 66%;
}

.champsBandopolis .div5 {
    background-image: url(./assets/PERSONAGENS/Bandopolis/Teemo_0.jpg);
    background-position-x: 68%;
}

.champsBandopolis .div6 {
    background-image: url(./assets/PERSONAGENS/Bandopolis/Veigar_0.jpg);
    background-position-x: 67%;
}

.champsBandopolis .div7 {
    background-image: url(./assets/PERSONAGENS/Bandopolis/Yuumi_0.jpg);
    background-position-x: 45%;
}

.champsBandopolis .div8 {
    background-image: url();
    background-position-x: 50%;
}

.champsBandopolis .div9 {
    background-image: url();
    background-position-x: 60%;
}

.champsBandopolis .div10 {
    background-image: url();
    background-position-x: 66%;
}

.champsBandopolis .div11 {
    background-image: url();
    background-position-x: 91%;
}
/* FIM DE BANDÓPOLIS */

.perso:hover h3 {
    opacity: 1;
}

.dropdown-menu{
    display: none;
    position: absolute;
    width: 130px;
    text-align: center;
    box-shadow: 0 0 5px black;
    padding: 7px;
    background-color: #000000;
    border-radius: 10px;
}

.dropdown-menu a{
    display: block;
    margin-top: 13px;
    padding: 5px;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.sobreMim{
    position: absolute;
    width: 15%;
    height: 45%;
    margin-left: -1430px;
    margin-top: 70px;
    background-image: url(./assets/eu.jpeg);
    background-position: center;
    background-position-x: -25px;
    background-size: cover;
    border: solid 5px #81807fe1;
    border-radius: 50%;
}

.sobreMim p{
    position: absolute;
    margin-left: 350px;
    margin-top: 30px;
    width: 1000px;
    font-family: 'Beaufort';
    font-size: 25px;
}

.sobreMim h1{
    position: absolute;
    margin-left: 670px;
    margin-top: -60px;
    width: 1000px;
    font-family: 'Beaufort';
    font-size: 40px;
}

.redes{
    position: absolute;
    /* background-color: #aa2e2e; */
    width: 50vw;
    height: 10vh;
    margin-top: 23%;
    margin-left: -5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.rede{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.rede a{
    font-family: 'Beaufort';
    font-size: 20px;
    color: black;
    font-weight: 800;
}